<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="x-api-key_token" value="f4b9b130-cd3e-4a81-9cb1-b4d72655e149" />
		<add key="x-api-key_request" value="0c0afcdd-1f9f-41bd-9b36-5dcde7e74c0c" />
		<add key="client_id" value="xpo-galvantage-integration" />
		<add key="client_secret" value="6ywFMhLijCn1CpzAlTX0CWtc6m4xT0nxcZfliDyIfJ9rX6gSvl74FMX1vgh59enh" />
		<add key="scope" value="xpo-rates-api" />
		<add key="grant_type" value="client_credentials" />
		<add key="PartnerIdentificationCode" value="2-1-GALMNENY" />
		<add key="xpoConnectUrl" value="api-uat-xpoconnect.xpo.com" />
	</appSettings>
</configuration>